<p id="notice"><%= notice %></p>

<h1>New Orders</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @new_orders.each do |new_order| %>
      <tr>
        <td><%= new_order.restaurant.name %></td>
        <td><%= new_order.customer.name %></td>
        <td><%= link_to 'Show', new_order %></td>
        <td><%= link_to 'Edit', edit_new_order_path(new_order) %></td>
        <td><%= link_to 'Destroy', new_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New New Order', new_new_order_path %>
