<%= form_with(model: order, local: true, url: [@restaurant, order]) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :restaurant_id, value: @restaurant.id %>

  <div class="field">
  <%= form.label :customer_id %>
  <%= form.select 'customer_id',
      options_from_collection_for_select(@customers, "id", "name") %>
</div>

<!--
<div hidden class="field">
  <%= form.label :restaurant_id %>
  <%= form.select 'restaurant_id',
      options_from_collection_for_select(@restaurants, "id", "name") %>
</div>
-->

<%=
  collection_check_boxes(:order, :menu_item_ids, MenuItem.select{|menu_item| menu_item.restaurant_id == @restaurant.id}, :id, :name)
%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
