<p id="notice"><%= notice %></p>

<style>
	table,th,tr,td {
		border: 1px solid white;
	}

	table {
		width: 200px;
		text-align: left;
	}

	.money {
		text-align: right;
		font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	}
</style>

<p>
	<strong><%= @order.restaurant.name %></strong> order for <strong><%= @order.customer.name %></strong>
</p>

<p>
	<table>

		<tr style="text-align: center;">
			<th>Item</th>
			<th>Price</th>
		</tr>

		<% @total = 0 %>

		<% @order_menu_items.each do |i| %>	          
	        <% if i.order_id == @order.id %>
	          	<% @items = MenuItem.select{|menu_item| menu_item.id == i.menu_item_id} %>
	          	<% @items.each do |show_item| %>
	          		<% @total = @total + show_item.price %>
	          		<tr>
		          		<td><%= show_item.name %></td>
		          		<td class="money"><%= number_to_currency(show_item.price) %></td>
	          		</tr>
	          	<% end %>
	        <% end %>
	    <% end %>

	    <tr>
	    	<td>Total</td>
	    	<td class="money"><%= number_to_currency(@total) %></td>
	    </tr>

	</table>
</p>
