<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.name %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @order.restaurant.name %>
</p>

<!-- order.menu_items.each -->

<%= link_to 'Edit', edit_restaurant_order_path(@order) %> |
<%= link_to 'Back', restaurant_orders_path %>
