<!DOCTYPE html>
<html>
  <head>
    <title>OrderGenius</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'Restaurants', restaurants_path %></li>
      <li><%= link_to 'Menu Items', menu_items_path %></li>
      <li><%= link_to 'Customers', customers_path %></li>
      <li><%= link_to 'Orders', orders_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
